*{
    padding: 0%;
    margin: 0%;
}
.sec-1{
    background-color: brown;
    background: linear-gradient(-36deg, white 8%, brown 0%);
}
.section-1{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.logo, .h2-top{
    padding-bottom: 30px;
}
.sec-top{
    width: 90%;
    height: auto;
    padding: 40px 0px;
}
.h1-top h1{
    color: white;
    font-size: 70px;
    letter-spacing: 2px;
    font-weight: bolder;
}

.h2-top h2{
    color: black;
    font-size: 40px;
    font-weight: bolder;
}
.top-p{
    padding-bottom: 100px;
}
.top-p p{
    color: white;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: bolder;
}
.section-2{
    width: 100%;
    height: auto;
    padding: 60px 0px;
}
#sec-2{
    padding-top: 20px;
    box-sizing: border-box;
    width: 93%;
    height: auto;

}
.clubs{
    display: flex;
    align-items: center;
    padding-left: 25px;
    box-sizing: border-box;
}
.clubs-h2{
    font-size: 50px;
    font-weight: bolder;
}
.clubs h2{
    padding-left: 15px;
    box-sizing: border-box;
}
.logo{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    box-sizing: border-box;

}
.logos{
    width: 15%;
    height: auto;
    text-align: center;
}
.logos h2{
    color: red;
}
.last-section{
    width: 100%;
    height: auto;
    background-color: brown;
    display: flex;
    justify-content: center;
    padding: 100px 0px;
    background: linear-gradient(-36deg, white 8%, brown 0%);
}
.h1-end{
    font-size: 60px;
    font-weight: bolder;
    color: white;
    padding-right: 250px;

}